.header{
  position: fixed;
  background-color: rgba(7, 7, 7, 0.9);
  height: 4rem;
  width: 100%;
  display: flex;
  
  ;
  .img-courflix{
    width: 7rem;
    margin: 1rem 1rem 1rem 3rem;
  }
  
    .navbar{
    .navbar-ul{
      display: flex;
      
      .navbar-li {
        list-style: none;
        margin-left: 1rem;
       
        .link-navbar {
          text-decoration: none;
          color: white;
          margin-bottom: 2rem;
          font-size: 1.1em;
      
        }//link
      }//li
    }//navbar
  }//img
}//wrapper