$ipadpro: 1024px;
$ipad: 768px;
$mobile: 480px;

.header{
  position: fixed;
  background-color: rgba(7, 7, 7, 0.5);
  height: 4rem;
  width: 100%;
  display: flex;
  z-index: 100;

  @media screen and (max-width: $mobile) {
    height: 3rem;
  }

  .div-menu{
    display: none;
    
    @media screen and (max-width: $mobile) {
      display: block;
    }

    .menu-navbar{
      background-color: rgba(7, 7, 7, 0.5);
      margin-top: 3rem;

      .menu-navbar-ul{
       

        .menu-navbar-li{
          margin-top: 1rem;
          height: 1.5rem;

          &:hover{
            background-color: rgba(7, 7, 7, 0.6);
          }
          .menu-link-navbar{
            text-decoration: none;
            color: white;
            font-size: 1.1em;
          }
        }
      }
    }
  }
  
  .img-courflix{
    width: 8rem;
    margin: 1rem 1rem 1rem 3rem;

    @media screen and (max-width: $mobile) {
      margin-left: 3rem;
      width: 5rem;
      height: 1.4rem;
    }
  }
  
    .navbar{
      margin-left: 3rem;

      @media screen and (max-width: $mobile) {
        display: none;
      }

    .navbar-ul{
      display: flex;
      
      .navbar-li {
        list-style: none;
        margin-left: 1rem;
        margin-top: 1.2rem;
       
        .link-navbar {
          text-decoration: none;
          color: white;
          font-size: 1.1em;
          cursor:context-menu;
          
        }//link
      }//li
    }//navbar
  }//img
}//wrapper

.bm-burger-button {
  position: fixed;
  width: 1.5rem;
  height: 1.3rem;
  left: 0.5rem;
  top: 1rem;
}

.bm-burger-bars {
  background: white;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross {
  background: #bdc3c7;
}

